# Dependency directories
node_modules/
npm-debug.log

# Local database/Enmap files (Don't copy local data into the image)
data/
*.sqlite

# Git
.git
.gitignore

# Environment secrets
.env

# Docker files
Dockerfile
.dockerignore

# OS files
Thumbs.db
.DS_Store
